# Go build artifacts
*.exe
*.test
*.out

# OS & Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & temp
*.log
*.tmp
*.swp
*.swo

# Config & secrets
.env
.env.*
internal/config/config.go
config.json
config.yaml
*.local

# Storage (konten upload)
storage/audio/
storage/images/

# Coverage
*.cover
coverage.out